<!DOCTYPE html>
<html>
<body>

<h1>LOAN DEFAULTER PREDICTION</h1>
<form action="prediction" method="post">
    <label for="Yearly_Income">Yearly_Income:</label>
    <input type="number" id="Yearly_Income" name="Yearly_Income"><br>

    <label for="Total_Unpaid_CL">Total_Unpaid_CL:</label>
    <input type="number" id="Total_Unpaid_CL" name="Total_Unpaid_CL"><br>

    <label for="Unpaid_Amount">Unpaid_Amount:</label>
    <input type="number" id="Unpaid_Amount" name="Unpaid_Amount"><br>

    <label for="Account_Open">Account_Open:</label>
    <input type="number" id="Account_Open" name="Account_Open"><br>

    <label for="Debt_to_Income">Debt_to_Income:</label>
    <input type="number" id="Debt_to_Income" name="Debt_to_Income"><br>

    <label for="Lend_Amount">Lend_Amount:</label>
    <input type="number" id="Lend_Amount" name="Lend_Amount"><br>

    <label for="Sub_GGGrade">Sub_GGGrade:</label>
    <input type="number" id="Sub_GGGrade" name="Sub_GGGrade"><br>

    <input type="submit" value="Submit">
  </form>

</body>
</html>